@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.home-container {
  padding: 60px 150px 120px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

h1 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #0e0d0d;
}

p {
  text-align: center;
}
