.btn-container {
  text-align: center;
  margin-top: 28px;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #957fef;
  color: white;
  border: 1px solid #b79ced;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #7161ef;
  border-color: #957fef;
}
